---
import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
import TimeLineElement from "../components/cv/TimeLine.astro"
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello there 👋</div>
    <div class="text-5xl font-bold">I'm Melvin Jebasamuel Danielraj</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my portfolio page! I'm an aspiring software developer
        dedicated to delivering innovative and performant user experiences.
        Passionate about exploring new technology and exceeding expectations
        while living in the <b>terminal</b>.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/melvin-jebasamuel/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="https://github.com/Mel28vin/Portfolio"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Source
      </a>
    </div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.E., Electronics and Communication Engineering"
      subtitle="2020 to 2024 at Velammal College of Engineering and Technology, Madurai, India"
    />
    <TimeLineElement
      title="Higher Secondary Education"
      subtitle="2019 to 2020 at The TVS School, Madurai, India"
    />
    <TimeLineElement
      title="Secondary School Education"
      subtitle="2017 to 2018 at Velammal Memorial Matriculation Higher Secondary School, Madurai, India"
    />
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="CovidVision"
    img="/covid.jpeg"
    desc="A NextJS Web App capable of performing real-time client side Deep Learning inference using Tensorflow.js to predict COVID-19 through X-ray images."
    url="https://github.com/Mel28vin/covidvision"
    badge="NEW"
    tags={["Tensorflow", "React"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Parkinson's disease prediction"
    img="/parkinsons.jpeg"
    desc="Improved the Detection Accuracy by a significant margin by analyzing various hyperparameters and kernels for Machine Learning Classification Algorithms."
    url="https://github.com/Mel28vin/parkinsons-prediction"
    tags={["scikit-learn", "Python"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Generate Intro App"
    img="/vercel.webp"
    desc="Implemented a personalized Intro generator using the GPT model from OpenAI and Vercel's Edge Functions in a NextJS application based on a FOSS Project. "
    url="https://github.com/Mel28vin/generate-intro"
    badge="FOSS"
    tags={["GPT", "React"]}
  />
</BaseLayout>
