---
import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
import TimeLineElement from "../components/cv/TimeLine.astro"
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello there 👋</div>
    <div class="text-5xl font-bold">I'm Melvin Jebasamuel Danielraj</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2 w-full">
      <p class="text-lg text-justify">
        Welcome to my portfolio page! I'm an aspiring software developer
        dedicated to delivering innovative and performant user experiences.
        Passionate about exploring new technology and exceeding expectations
        while living in the <b>terminal</b>.
      </p>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/melvin-jebasamuel/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10 ml-5">
    <TimeLineElement
      title="B.E., Electronics and Communication Engineering"
      subtitle="2020 to 2024 at Velammal College of Engineering and Technology, Madurai, India"
    />
    <TimeLineElement
      title="Higher Secondary Education"
      subtitle="2019 to 2020 at The TVS School, Madurai, India"
    />
    <TimeLineElement
      title="Secondary School Education"
      subtitle="2017 to 2018 at Velammal Memorial Matriculation Higher Secondary School, Madurai, India"
    />
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="CovidVision"
    img="/covid.jpeg"
    desc="A NextJS Web App capable of performing real-time client side Deep Learning inference using Tensorflow.js to predict COVID-19 through X-ray images."
    url="https://github.com/Mel28vin/covidvision"
    badge="NEW"
    tags={["Tensorflow", "React"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flight Ticket Booking"
    img="/nextjs.jpg"
    desc="Developed a flight ticket booking Fullstack application from scratch using NextJS 13, Supabase, Prisma and other bleeding edge technologies."
    url="https://github.com/Mel28vin/flight-app"
    badge="NEW"
    tags={["Next.js", "React", "Supabase", "Prisma"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Parkinson's disease prediction"
    img="/ml.jpeg"
    desc="Improved the Detection Accuracy by a significant margin by analyzing various hyperparameters and kernels for Machine Learning Classification Algorithms."
    url="https://github.com/Mel28vin/parkinsons-prediction"
    tags={["scikit-learn", "Python"]}
  />
  <div class="mb-5">
    <div class="text-3xl w-full font-bold mt-5">Technical Proficiency</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-5">
    <li>Java</li>
    <li>React</li>
    <li>NextJS</li>
    <li>C and C++</li>
    <li>Typescript</li>
    <li>Tailwind</li>
    <li>Python</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
  </ul>

  <div class="mt-10 mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-2 grid gap-2 underline underline-offset-1">
    <li>
      <a
        href="https://coursera.org/verify/professional-cert/6Q5LNA54C7VG"
        target="_blank"
      >
        Google IT Automation with Python by Google on Coursera</a
      >
    </li>
    <li>
      <a href="https://coursera.org/verify/9WAQUCG87HDU" target="_blank">
        Object-Oriented Data Structures in C++</a
      >
    </li>
    <li>
      <a
        href="https://www.coursera.org/account/accomplishments/certificate/RVUPE7N2FLW6"
        target="_blank"
      >
        Ordered Data Structures</a
      >
    </li>
    <li>
      <a href="https://coursera.org/verify/XR4Y25T8PHWF" target="_blank">
        Introduction to Intel® Distribution of OpenVINO™ toolkit for Computer
        Vision Applications
      </a>
    </li>
    <li>
      <a
        href="https://www.guvi.in/verify-certificate?id=s3Q211f9h49X4U565m"
        target="_blank"
      >
        Build a Face Recognition App using Python
      </a>
    </li>
    <li>
      <a href="https://www.coursera.org/verify/J9WL5T6Y327Q" target="_blank">
        Introduction to Philosophy</a
      >
    </li>
    <li>
      <a href="https://coursera.org/verify/9Y65AXKDCEN4" target="_blank">
        Creative Thinking: Techniques and Tools for Success
      </a>
    </li>
  </ul>
</BaseLayout>
